body{
    margin: 0;
}
/**** header inicio****/
.header{
    width: 100%;
    height: 80px;
    background: #edede9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul{
    list-style:none;
    display: flex;
    gap: 16px;
    
}

ul li{
    padding: 4px 12px 4px 0 ;
    /**background:#d6ccc2 ;**/
}
/**** header final****/

/**** banner inicio****/
.bannerdesign{
    width: 100%;
    height: 280px;
    background: #d5bdaf;
}
/**** banner final****/

/**** tarjetas inicio****/
.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.columnatarjetas{
    width: 1115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.tarjetacontenedor{
    border-radius: 16px;
    width: 250px;
    
}

.imagen{
    height: 250px;
    background: #d5bdaf;
    border-radius: 16px 16px 0 0; 
    
}

.textotarjeta{
    border: solid #d5bdaf 1px;
    border-radius: 0 0 16px 16px; 
    padding: 12px;
}
/**** tarjetas fin****/


.contenedor{
      
    width: 100%;
    background-color: #edede9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.secciones{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
ul{
    list-style:none;
    padding: 0;

}

.piedepagina{
    background-color: #edede9;
}